 .svg-container {
        width: 100%;
        max-height: 3in;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
      }
      .svg-container svg {
        width: 100%;
        height: auto;
        max-height: 3in;
        display: block;
      }

 .upduino-container {
        width: 100%;
        max-height: 1.5in;
        display: flex;
        justify-content: center;
        user-select: none;
  }